{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <!-- 질문 -->
    <h2 class="border-bottom py-2">{{ notice.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ notice.content }}</div>
            <div class="d-flex justify-content-end">
                {% if notice.modify_date %}
            <div class="badge bg-light text-dark p-2 text-start mx-3">
                <div class="mb-2">{{ notice.author.username }}</div>
                <div>{{ notice.modify_date }}.수정됨</div>
            </div>
            	{% else %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ notice.author.username }}</div>
                    <div>{{ notice.create_date }}</div>
                </div>
                {% endif %}
            </div>
            <div class="my-3">
        	</div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}